#nav1{
    height: 48px;
    transition: .4s;
}
.gauche-nav h2{
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    font-family: 'Red Hat Display', sans-serif;
}
.espace-nav{
    margin-left: 20px;
} 
.section-Navigation{
    margin-left: 50px;
}
.espace-nav-H:hover, .espace-nav-H:hover a{
    /* background-color: #e5e5e5; */
    color: var(--colorTheme);
}
.listDropHover:hover{
    background-color: var(--colorTheme) !important;
    color: white !important;
}


.navBtn button.contact-us{
    position: relative;
    padding: 8px 18px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    box-shadow:   0 2px 15px #1e99feab;
    /* background: linear-gradient(180deg, #60dfcd 0%, #1e9afe 74%); */
}
/* background */
.navBtn button .bgBtnNav{
    position: absolute;
    width: 360px ;
    margin-left: -130px;
    margin-top: -100px;
    height: 260px;
    z-index: 11;
    transition: .8s;
    background: linear-gradient(180deg, #60dfcd 0%, #1e9afe 62%);
}
.navBtn button .soratraNavBtn{
    position: relative;
    color: white;
    z-index: 12;
}
.navBtn button:hover .bgBtnNav{
    margin-top: -25px;
    transform: rotate(325deg);
    transition: .8s;
    /* background: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%) .3s; */
}
/* Phone Navigation */
.close-icon{
    display: none;
}
.phone-navigation{
    display: none;
}
/* Main */
main.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main .mainContainer{
    width: 100%;
}
.main .mainContainer .landing{
    width: 100%;
    padding: 0 5%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.main .mainContainer .landing .soratra{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .mainContainer .landing .soratra div{
    margin-bottom: 4%;
}
.main .mainContainer .landing .soratra h2{
    font-size: 45px;
    font-weight: 400;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Red Hat Display', sans-serif;
}
.main .mainContainer .landing .soratra h1{
    font-size: 55px;
    font-weight: 500;
    color: var(--colorthemeDur);
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Red Hat Display', sans-serif;
}

.main .mainContainer .landing .Landing-btn a button .soratraNavBtn{
    margin-top: 3px;
}
.main .mainContainer .landing .Landing-btn{
    z-index: 3;
}

.main .mainContainer .landing .sary{
    width: 50%;
    display: flex;
    justify-content: end;
}
.main .mainContainer .landing img{
    width: 100%;
}


/* Competence */
.main .mainContainer .competence{
    margin-top: 9%;
    width: 100%;
    padding: 0 5%;
    height: 500px;
    background-color: var(--whiteBe);
}


@media screen and (max-width: 1175px) {
    body{
        padding: 0 !important;
    }
    nav{
        padding: 0 !important;
    }
    .section-Navigation{
        margin-left: 0;
    }
    .activeToggle #nav1{
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px;
        height: 360px;
        transition: .6s;
        overflow: hidden;
        padding-bottom: 0;
        box-shadow: 0 2px 20px #adb5bd;
    }
    .activeToggle .burger-icon{
        display: none;
    }
    .activeToggle .close-icon{
        display: block;
        transition: .6s;
    }
    .phone-navigation{
        display: none;
    }
    .activeToggle .phone-navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1023px) {
   
    .main .mainContainer .landing{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main .mainContainer .landing .soratra{
        width: 100%;
        margin-top: 20px;
    }
    .main .mainContainer .landing .soratra div{
        margin-bottom: 2%;
    }
    .main .mainContainer .landing .soratra h2{
        font-size: 35px;
    }
    .main .mainContainer .landing .soratra h1{
        font-size: 45px;
    }
    .main .mainContainer .landing .sary{
        width: 60%;
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 767px) {
    .main .mainContainer .landing .sary{
        width: 70%;
    }
}
@media screen and (max-width: 435px) {
    .main .mainContainer .landing .soratra div{
        margin-bottom: 3%;
    }
    .main .mainContainer .landing .soratra h2{
        font-size: 25px;
    }
    .main .mainContainer .landing .soratra h1{
        font-size: 35px;
    }
    .main .mainContainer .landing .sary{
        width: 75%;
    }
}
@media screen and (max-width: 324px) {
    .main .mainContainer .landing .sary{
        width: 80%;
    }
}